
<p>Ask your coach anything</p>
<div class="input-group mb-3">
<form action="/answer" method="get">
  <input type="text" class="form-control" placeholder="Your question..." aria-label="Your question..." aria-describedby="basic-addon2" name="answer">
  <span><input type="submit" class="btn btn-primary" value="Ask!"></span>
</form>
</div>
