// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Lucida Sans';
  font-weight: 400;
}

p {
  font-family: cursive;
  font-size: small;
}
